a:link {
  color: aqua;
}

a:visited {
  color: orange;
}

input:focus {
  outline: 2px solid lightskyblue;
}

input:invalid:not(:focus) {
  outline: 2px dotted red;
}

p {
  border-radius: 50px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 18px 18px 36px #5a5a5a, -18px -18px 36px #ffffff;
}
